[buildout]
extends = http://dist.plone.org/release/4.3.20/versions.cfg
show-picked-versions = true

parts =
    instance
    test
    code-analysis
    createcoverage
    releaser
    i18ndude
    omelette
    robot
develop = .


[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
http-address = 8080
eggs =
    Plone
    Pillow
    plone.app.event
    collective.contact.importexport [test]
    iw.debug
zcml =
	iw.debug


[code-analysis]
recipe = plone.recipe.codeanalysis[recommended]
directory = ${buildout:directory}/src/collective
flake8-exclude = bootstrap.py,bootstrap-buildout.py,docs,*.egg.,omelette
flake8-max-complexity = 15
flake8-max-line-length = 120
# return-status-codes = True


[createcoverage]
recipe = zc.recipe.egg
eggs = createcoverage


[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}


[test]
recipe = zc.recipe.testrunner
eggs = ${instance:eggs}
defaults = ['-s', 'collective.contact.importexport', '--auto-color', '--auto-progress']


[robot]
recipe = zc.recipe.egg
eggs =
    ${test:eggs}
    plone.app.robotframework[debug,ride,reload]


[releaser]
recipe = zc.recipe.egg
eggs = zest.releaser


[i18ndude]
recipe = zc.recipe.egg
eggs = i18ndude

[versions]
# Don't use a released version of collective.contact.importexport
collective.contact.importexport =
setuptools = 42.0.2
zc.buildout = 2.13.2

check-manifest = 0.31
collective.taxonomy = 1.5.1
collective.transmogrifier = 1.5.2
collective.z3cform.datagridfield = 1.3.3
coverage = 4.2
flake8 = 2.5.4
flake8-blind-except = 0.1.0
flake8-coding = 1.1.1
flake8-debugger = 1.4.0
flake8-deprecated = 0.2
flake8-isort = 1.1.1
flake8-pep3101 = 0.4
flake8-plone-hasattr = 0.1
flake8-print = 2.0.1
flake8-quotes = 0.1.2
flake8-string-format = 0.2.1
flake8-todo = 0.4
i18ndude = 4.0.1
ipdb = 0.12.2
isort = 4.2.2
mccabe = 0.4.0
pep8 = 1.7.0
plone.app.event = 1.1.8
plone.app.textfield = 1.3.4
plone.recipe.codeanalysis = 2.2
plone.testing = 5.0.0
pyflakes = 1.0.0
python-dateutil = 2.6.0
robotframework = 3.0
robotframework-ride = 1.5.2.1
robotframework-selenium2library = 1.7.4
robotsuite = 1.7.0
selenium = 2.53.6
zc.recipe.egg = 2.0.3

# Required by:
# ipdb
backports.shutil-get-terminal-size = 1.0.0
enum34 = 1.1.6
ipython = 5.7.0
ipython-genutils = 0.2.0
iw.debug = 0.3
pathlib2 = 2.3.2
pexpect = 4.6.0
pickleshare = 0.7.4
prompt-toolkit = 1.0.15
ptyprocess = 0.6.0
scandir = 1.7
simplegeneric = 0.8.1
traitlets = 4.3.2
wcwidth = 0.1.7
